<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chapter06</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>cn.itcast.chapter06.example01.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>cn.itcast.chapter06.example02.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet2</display-name>
    <servlet-name>DownloadServlet2</servlet-name>
    <servlet-class>cn.itcast.chapter06.example02.DownloadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet2</servlet-name>
    <url-pattern>/DownloadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet2</display-name>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>cn.itcast.chapter06.example01.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet3</display-name>
    <servlet-name>UploadServlet3</servlet-name>
    <servlet-class>cn.itcast.chapter06.example01.UploadServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet3</servlet-name>
    <url-pattern>/UploadServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet4</display-name>
    <servlet-name>UploadServlet4</servlet-name>
    <servlet-class>cn.itcast.chapter06.example01.UploadServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet4</servlet-name>
    <url-pattern>/UploadServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet22</display-name>
    <servlet-name>DownloadServlet22</servlet-name>
    <servlet-class>cn.itcast.chapter06.example02.DownloadServlet22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet22</servlet-name>
    <url-pattern>/DownloadServlet22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>cn.itcast.chapter06.exam.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
</web-app>