<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chapter04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>jianhanke</param-value>
  </context-param>
  <context-param>
    <param-name>name2</param-name>
    <param-value>hujing</param-value>
  </context-param>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>cn.itcast.chapter04.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFilter01</filter-name>
    <filter-class>cn.itcast.chapter04.filter.MyFilter01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter01</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFilter02</filter-name>
    <filter-class>cn.itcast.chapter04.filter.MyFilter02</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter02</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>cn.itcast.chapter04.filter.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>cn.itcast.chapter04.filter.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterTest</display-name>
    <filter-name>FilterTest</filter-name>
    <filter-class>cn.itcast.chapter04.filter.FilterTest</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterTest</filter-name>
    <url-pattern>/first.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MyFilter03</display-name>
    <servlet-name>MyFilter03</servlet-name>
    <servlet-class>cn.itcast.chapter04.filter.MyFilter03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFilter03</servlet-name>
    <url-pattern>/MyFilter03</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter03</display-name>
    <filter-name>MyFilter03</filter-name>
    <filter-class>cn.itcast.chapter04.filter.MyFilter03</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
    <init-param>
      <param-name>param1</param-name>
      <param-value>param1</param-value>
    </init-param>
    <init-param>
      <param-name>param2</param-name>
      <param-value>param2</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter03</filter-name>
    <url-pattern>/MyServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>cn.itcast.chapter04.servlet.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.chapter04.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.chapter04.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CharacterServlet</display-name>
    <servlet-name>CharacterServlet</servlet-name>
    <servlet-class>cn.itcast.chapter04.servlet.CharacterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterServlet</servlet-name>
    <url-pattern>/CharacterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>cn.itcast.chapter04.servlet.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern></url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.itcast.chapter04.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StaticFilter</display-name>
    <filter-name>StaticFilter</filter-name>
    <filter-class>cn.itcast.chapter04.filter.StaticFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticFilter</filter-name>
    <url-pattern>/BookServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet2</display-name>
    <servlet-name>BookServlet2</servlet-name>
    <servlet-class>ceshi.BookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet2</servlet-name>
    <url-pattern>/BookServlet2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StaticFilter2</display-name>
    <filter-name>StaticFilter2</filter-name>
    <filter-class>ceshi.StaticFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StaticFilter2</filter-name>
    <url-pattern>/BookServlet2</url-pattern>
  </filter-mapping>
</web-app>